<h1>Inscrições Aprovadas</h1>
<ul>
  {{#each applications}}
    <li>Oportunidade #{{this.opportunity_id}} — Aprovado em {{this.applied_at}}</li>
  {{/each}}
</ul>
<a href="/volunteer/opportunities">Ver feed</a>
